<h1><%= @topic.title %></h1>

<div class='row'>
    <ul>
        <% @topic.bookmarks.each do |bookmark| %>
            <li><%= link_to bookmark.title, bookmark.url, :target=>'_blank' %></li>
        <% end %>
    </ul>
</div>