
<h2>My Bookmarks</h2>
<ul class="list-unstyled">
    <% @user_bookmarks.each do |bookmark| %>   
        <li><%= link_to bookmark.title, bookmark.url, :target=>'_blank' %></li>
    <% end %>
</ul>

<h2>Liked Bookmarks</h2>
<ul class="list-unstyled">
    <% @liked_bookmarks.each do |like| %>
        <li><%= link_to like.bookmark.title, like.bookmark.url, :target=>'_blank' %>
            <%= link_to bookmark_like_path(like.bookmark, like), class: 'btn btn-danger', method: :delete do %>
            <i class="glyphicon glyphicon-star-empty"></i>&nbsp; Unlike
        <% end %></li>
    <% end %>
</ul>

