<h1>About Blocmarks</h1>
<h3>Created by Stacia Hoover with Bloc</h3>
<p>The Blocmarks app allows a user to bookmark URLs by sending an email with the link to the app. 
One can peruse other user's bookmarks, 'Like' them to add to their own profile, and maintain a 
personal index of categorized bookmarks. </p>

<p>Blocmarks uses the Devise gem for user authentication. The authorization system was built based 
on Ruby classes using the Pundit gem. The email service - Mailgun - 
was incorporated to allow users to easily send, receive, and track email to the app. </p>
