<div class='col-md-1'></div>
<div class='col-md-8 heading'>
    <h1>Welcome to URL Bookmarking</h1>
    <ul class='points list-unstyled'>
        <h4><li>֍ Bookmark websites by emailing link to app</li>
        <li>֍ Check out other's bookmarks</li>
        <li>֍ "Like" a bookmark to add it to your collection</li>
        <li>֍ Maintain an index of categorized bookmarks</li></h4>
    </ul> 
    <div class='sign-up col-md-4'>
        <%=link_to "Sign Up", new_user_registration_path, class:'btn btn-primary' %>
    </div>
    <div class='sign-up col-md-4'>
        <%=link_to "Log In", new_user_session_path, class: 'btn btn-primary' %>
    </div>
</div>
<div class='col-md-1'></div>

